<html ng-app="panel">
<head>
  <title>Control Panel</title>
  <link rel="stylesheet" href="/static/assets/style.css" />
  <link rel="stylesheet" href="/static/vendor/font-awesome.min.css" />
  <script src="/static/vendor/angular.js"></script>
  <script src="/static/vendor/angular-route.js"></script>
  <script src="/static/app/panel.js"></script>
</head>
<body ng-controller="mainController">

  <div class="temp-setter enabled-{{enabled}}">
    <button ng-click="decreaseTemp()" class="temp-set-button minus">-</button>
    <span class="target-temp">{{targetTemp}}<span class="celcius">&deg;C</span></span>
    <button ng-click="increaseTemp()" class="temp-set-button plus">+</button>
  </div>

  <div class="power-button">
    <button ng-click="toggleEnabled()" ng-if="!enabled" class="button light">ENABLE</button>
    <button ng-click="toggleEnabled()" ng-if="enabled" class="button green">DISABLE</button>
  </div>
</body>
</html>
