<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>MHN | {{ title }}</title>
	<link href="/static/index.css" rel="stylesheet" media="screen">
</head>
<body>
	<h1>Mulligan Home Network</h1>
	<h3>{{ title }}</h3>
	<p>{{ p0 }}</p>
	{% if pageType == "about" %}
		<p>Contact Braeden for further information.</p>
	{% elif pageType == "thermostat" %}
		<p>Current temperature: {{ p1 }}&deg;C
			<br>Target temperature: {{ p2 }}&deg;C</p>
		<form class="temp-form" action="" method="post">
			<span>Change target:
				<input class="temp-display" type="text" name="temp-display">
			</span>
			<input class="temp-change" type="submit" value="Submit"></button>
		</form>
	{% endif %}
</body>
</html>
